 ul{
   background-color:ffccff   list-style-type: none;
    margin-left: -8px;
    padding: 0px;
    margin-top: -8px;
    margin-right: -8px;

}
li a{
    padding:4px ;
    float:left;
    text-align: center; 
    text-decoration: none;
  
}
li{
    font-size: 28px;
    border-left: 1px solid ;
    display: inline-block;
    margin-bottom: -4px;
    padding: 6px;
    margin-left: -5px;
    transition: .6s;
} 

li:hover {
    box-shadow: 0px 12px 13px #990066;
    color: white;
    background-color: #ff99ff;
}
li a:hover{
    color: white;
}
 p{                         