body{ background-image: url("../img/img4.jpg");
background-repeat:no-repeat;
background-size:100%;
background-attachment:fixed}



.head  ul{
  
     list-style-type: none;
    margin-left: 10px;
    padding: 0px;
    margin-top: -8px;
    margin-right: -8px;

}


   .head  li a{
    padding:4px ;
    float:left;
    text-align: left; 
    text-decoration: none;color:black
  
}


  .head   li{
   font-size: 35px ;
  
    display: inline-block;
    margin-bottom: -4px;
    padding: 6px;
    margin-left: -5px;border-left: 1px solid #000000

}

   .head  

li:hover {
 box-shadow: 0px 12px 13px #663366;
      background-color: #cccccc
}

  .head  li a:hover{
 color: black;
}


   .style select  { width: 60%; padding: 6px 2px;font-size:35px; border: none; border-radius: 4px; background-color: #f1f1f1}

   .style{  width: 50%; padding: 16px 20px;}
 
   .style  lable{  width: 60%; padding: 16px 20px;margin-left: -6px;margin-top: -6px;margin-right: -6px;font-size:35px}

   .style  input[type="text"]{  width:60%;padding: 6px 2px;font-size:35px; border: none; border-radius: 4px; background-color: #f1f1f1}


    .style fieldset{ width:130%; font-size:30px; padding: 16px 20px;margin-left: 160px;margin-top: 50px;margin-right: 60px;margin-bottom: 60px;background-color: ##660066 ;border:2px solid}

   .style legend{ font-size:40px}

      .radio{font-size:25px;color:#00000}

      .style textarea { padding: 10px 10px;background-color: #f1f1f1}

 .style input[type="submit"] { padding: 20px 20px;background-color: #f1f1f1; font-size:30px;margin-left: 760px;margin-top: 50px;}

      .head h1{text-align:center;font-size:50px;border:2px}
   

        .contcat h2{padding: 16px 20px;font-size:30px}

        .contcat h1{padding: 16px 20px;}

     .contcat {border:2px solid;padding: 16px 20px;}

         .contcat h3{padding: 16px 20px;font-size:25px}

            .contcat ol li{padding: 16px 20px;margin-left: 550px;margin-top: 2px;margin-right: 100px;margin-bottom: 2px;font-size:25px}

            .contcat a{padding: 16px 20px;margin-left: 550px;margin-top: 50px;margin-right: 200px;margin-bottom: 100px;font-size:25px}


              .flower h2{margin-left: 10px;margin-top: 100px;margin-bottom: 0px;font-size:30px}

              .flower pre{margin-left: 10px;margin-top: 0px;margin-bottom: 70px;font-size:20px}

                          . flower img{align:right;margin-top: 50px;margin-right: 200px;margin-bottom: 100px}

                         .images img{ margin-left: 450px;margin-top: 20px;margin-bottom: 20px;margin-right: 300px}

                              .nav h2 { margin-left: 900px;margin-top: 20px;margin-bottom: 20px;margin-right: 300px}

                                .nav a  img{ margin-left: 750px;margin-top: 150px;margin-bottom: 20px;margin-right: 300px}